In [11]:
import pandas as pd

df= pd.read_csv("training.1600000.processed.noemoticon.csv")

In [12]:
df.head()

,no,id,time_stamp,query,username,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [13]:
df=df.drop(['no','username','query'],axis=1)

In [14]:
df.head()

,id,time_stamp,text
0,1467810369,Mon Apr 06 22:19:45 PDT 2009,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,1467810672,Mon Apr 06 22:19:49 PDT 2009,is upset that he can't update his Facebook by ...
2,1467810917,Mon Apr 06 22:19:53 PDT 2009,@Kenichan I dived many times for the ball. Man...
3,1467811184,Mon Apr 06 22:19:57 PDT 2009,my whole body feels itchy and like its on fire
4,1467811193,Mon Apr 06 22:19:57 PDT 2009,"@nationwideclass no, it's not behaving at all...."

In [15]:
column_tiles=['id','text','time_stamp']
df=df.reindex(columns=column_tiles)

In [16]:
df.head()

,id,text,time_stamp
0,1467810369,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",Mon Apr 06 22:19:45 PDT 2009
1,1467810672,is upset that he can't update his Facebook by ...,Mon Apr 06 22:19:49 PDT 2009
2,1467810917,@Kenichan I dived many times for the ball. Man...,Mon Apr 06 22:19:53 PDT 2009
3,1467811184,my whole body feels itchy and like its on fire,Mon Apr 06 22:19:57 PDT 2009
4,1467811193,"@nationwideclass no, it's not behaving at all....",Mon Apr 06 22:19:57 PDT 2009

In [17]:
df.to_csv('sentiment.csv')

In [4]:
import pandas as pd

df= pd.read_csv("sentiment.csv")

In [9]:
sample_df = df.sample(n=1000, random_state=10)

In [10]:
sample_df.to_csv('sentiment1000.csv')